reset()
base-classes()

*
	box-sizing border-box

body
	min-height 0
	background-image url(http://thefoxisblack.com/desktop-wallpaper/denise-nouvion-wallpapers-4-1440x900.jpg)
	background-position 50% 50%
	background-size cover
	background-repeat no-repeat
	background-attachment fixed
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
