reset()
base-classes()
border-box()

// settings
font = unquote('Helvetica Neue, Helvetica, Arial, sans-serif')
img-path = unquote('../img/')

body
	font-family font
	-webkit-font-smoothing antialiased

.cover
	padding 100px 10px
	color #fff
	text-align center
	background-color #424242
	background-image url('http://static.tumblr.com/5769723044626a13c7a492d55485bc5a/3zmswwt/ARKmyechb/tumblr_static_layer_3_copy.jpg')
	background-repeat no-repeat
	background-size cover
	color #ffffff

