reset()
base-classes()
border-box()
text-selection(#56c7aa)

// settings
font = unquote('Helvetica Neue, Helvetica, Arial, sans-serif')
title = unquote('Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif')

body
	font-family font
	-webkit-font-smoothing antialiased
	background linear-gradient(75deg, rgba(63, 192, 193, 0.98) 0%, rgba(66, 207, 176, 0.96) 100%)

.cover
	color #fff
	text-align center
	padding 35px 0

// google browser
#googler
	absolute left 0 right 0 bottom 0
.g-page
	background #fff
	size 700px 450px
	margin 55px auto
	text-align center
	position relative
	border-radius 0 0 3px 3px
	opacity .95
	cursor default
	&:before
		block()
		background #E4DDDD
		content ''
		relative top -26px
		height 26px
		border-radius 3px 3px 0 0
	.starter
		background #2b3039
		size 100%
		text-align center
		absolute top 0 left 0
		z-index 100
		border-radius 0 0 3px 3px
		.hero
			width 145px
			padding-top 100px
		.text
			color #494F58
			font-size 22px
			font-weight bold
			text-transform uppercase
		.buttons
			margin-top 25px
			.cta
				inline-block()
				color #fff
				font-size 13px
				font-weight bold
				padding 0 14px
				border-radius 3px
				text-transform uppercase
				text-decoration none
				height 36px
				line-height 36px
				&:first-child
					margin-right 10px
				&.green
					background #00b763
				&.pink
					background #f2485f
	.g-ctrl
		background rgba(255,255,255,0.2)
		absolute top -17px
		size 8px
		border-radius 100%
		&.one
			left 9px
			background #f74545
		&.two
			left 22px
			background #ffba3e
		&.three
			left 35px
			background #7bc110
	.g-logo
		width 190px
		margin 90px auto 15px
		opacity .9
	.g-input
		inline-block()
		border 1px solid #ddd
		color #222
		font-size 12px
		padding 7px 10px
		size 65% 30px
		margin-left 14%
		outline none
		cursor default
		text-align left
		border-radius 2px
		transition all 1s ease
		.g-cursor
			border-right 0
	.g-button
		inline-block()
		size 40px 30px
		outline none
		background #4285f4
		background linear-gradient(top, #4387fd, #4683ea)
		margin-left -5px
		user-select none
		border-radius 0 2px 2px 0
		.g-search-icon
			block()
			background-image url('/img/search.png')
			background-size cover
			margin 0 auto
			size 15px
	.g-liky a
			inline-block()
			border 1px solid #dcdcdc
			border-color rgba(0, 0, 0, .1)
			background #f5f5f5
			background linear-gradient(top, #f5f5f5, #f1f1f1)
			color #444
			font-size 11px
			font-weight bold
			line-height 12px
			text-decoration none
			padding 8px
			margin 20px 5px
			border-radius 2px
			cursor default
			transition all 1s ease
	&.typing
		.g-input
			border-color #4285f4
		.g-cursor
			padding-right 1px
			border-right 1px solid
			animation blink-caret .5s step-end infinite alternate
	&.highlight
		.g-button
			border 1px solid transparent
			box-shadow inset 0 2px 0 rgba(0, 0, 0, .15)
			background #3c78dc
			background linear-gradient(top, #3c7ae4, #3f76d3)
	&.relayout
		.g-logo
			margin -14px 0 0 -590px
			width 80px
		.g-box
			margin -32px 0 0 5px
		.ls-results
			block()
		.g-liky a
			display none
	.g-results
		size 55% 370px
		float left
		text-align left
		margin 20px 0 0 20px
		overflow hidden
	.ls-results
		display none
		width 36%
		float right
		text-align left
		margin 25px 30px 0 0
		padding 6px 15px
		box-shadow rgba(0, 0, 0, 0.2) 0px 1px 4px
	.g-results, .ls-results
		.g-item
			margin 0 0 10px
			font-size 12px
			h3
				color #1A52A5
				font-size 14px
				font-weight bold
				margin 0 0 1px
			.g-item-link
				color #006621
				margin 0 0 3px
				text-overflow 100%
			.g-item-desc
				color #333
	.ls-results
		.ls-header-logo
			margin 0 0 3px
		h3
			font-size 13px !important
			line-height 15px
			margin-bottom 3px !important
			text-overflow 90%
		.ls-icon
			inline-block()
			float left
			margin 1px 4px 0 0

// animations
.animate
	animation-duration 1s
	animation-fill-mode both
.bounceInDown
	animation-name bounceInDown
.bounceIn
	animation-name bounceIn
	animation-duration .75s

@keyframes blink-caret
	50%
		border-color transparent

@keyframes bounceIn
	0%, 20%, 40%, 60%, 80%, 100%
		transition-timing-function cubic-bezier(0.215, 0.610, 0.355, 1.000)
	0%
		opacity 0
		transform scale3d(.3, .3, .3)
	20%
		transform scale3d(1.1, 1.1, 1.1)
	40%
		transform scale3d(.9, .9, .9)
	60%
		opacity 1
		transform scale3d(1.03, 1.03, 1.03)
	80%
		transform scale3d(.97, .97, .97)
	100%
		opacity 1
		transform scale3d(1, 1, 1)

@keyframes bounceInDown
	0%
		opacity 0
		transform translateY(-2000px)
	60%
		opacity 1
		transform translateY(30px)
	80%
		transform translateY(-10px)
	100%
		transform translateY(0)
