.g-page
  .g-ctrl.one
  .g-ctrl.two
  .g-ctrl.three

  %img(src="/img/googler.png" class="g-logo")
  .center.clearfix
    .g-input.left
      %span.g-cursor= @value
    %button.g-button.left
      %span.g-search-icon
