.g-page
  .g-ctrl.one
  .g-ctrl.two
  .g-ctrl.three

  %img(src="/img/googler.png" class="g-logo")
  .center.clearfix
    %input.g-input.left(type="text" @value)
    %button.g-button.left
      %span.g-search-icon
