.g-page(class=@state)
  .g-ctrl.one
  .g-ctrl.two
  .g-ctrl.three

  %img.g-logo(src="/img/googler.png")
  .g-box.clearfix
    .g-input.left
      %span.g-cursor= @value
    %button.g-button.left
      %span.g-search-icon

  .g-results
    -each @googleResults, ->
      .g-item
        %h3= @title
        .g-item-link= @link
        .g-item-desc= @text
